<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--通知权限-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--精确闹钟权限-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!--启动完成广播-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TimeService"
            android:enabled="true"
            android:exported="false">
        </service>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"> <!-- 必须设置为 true -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 添加自定义 action -->
                <action android:name="com.example.androidmemo.ALARM_ACTION" />
            </intent-filter>
        </receiver>
    </application>



</manifest>